#hero 
{
    min-height: 100vh;
    position: relative;
}

video{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.nombre{
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: rgba(89, 19, 138, 0.716);
    border-radius: 15px;
    display: block;
    margin: auto;
}

.acerca
{
    text-align: center;
}

.card.card-body
{
    background-color:  rgba(49, 10, 78, 0.549);
    color: white;    
    display: block;
    margin: auto;
}

.btn.btn-primary{
    background-color:rgba(65, 20, 97, 0.619);
    border: #1c1c1d;    
}

.d-block
{
    display: block;
    margin: auto;
    width: 30%;
    height: auto;
    box-shadow: 5px 5px 30px rgb(255, 2, 141);
    border-radius: 25px;    
}

.d-blockg
{
    display: block;
    margin: auto;
    height: auto;
    width: 25%;
    box-shadow: 0 0 50px rgb(255, 2, 141);
    border-radius: 25px;
}

.carousel-indicators
{
top: 100%;
}

footer
{
   color: white;
    bottom: 0%;
    background-color: rgba(70, 8, 115, 0.582);
    
}

/*media query tablet*/
 @media (max-width: 1400px) {
    
.d-block
{
    display: block;
    margin: auto;
    width: 35%;
    box-shadow: 0 0 50px rgb(70, 8, 115);
    border-radius: 25px;
    
}

.d-blockg
{
    display: block;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 50px rgb(139, 15, 228);
    border-radius: 25px;
    
}

 }
 /* medias query smarphone*/
 @media (max-width: 450px) {
    .btn.btn-primary
    {
        background-color:rgba(65, 20, 97, 0.619);
        border: #1c1c1d;
        font-size:small  ;
        
    }
    
.d-block
{
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 50px rgb(70, 8, 115);
    border-radius: 25px;
    
}

.d-blockg
{
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 50px rgb(139, 15, 228);
    border-radius: 25px;
    
}

 }

