
#hero 
{
    min-height: 100vh;
    position: relative;
}

video{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}


.nombre{
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: rgba(88, 19, 138, 0.266);
    box-shadow: 5px 1px 20px rgb(255, 2, 141);
    border-radius: 15px;
    display: block;
    margin: auto;
}

.acerca
{
    text-align:center;
    position: relative;
    bottom: 15%;
    margin: auto;
    
    box-shadow: 5px 5px 30px rgb(255, 2, 141)
}

.card.card-body
{
    background-color:  rgba(49, 10, 78, 0.549);
    color: white;
    position: relative;    
    display: block;
    margin: auto;
    box-shadow: 5px 5px 30px rgb(255, 2, 141);

}

.btn.btn-primary{
    background-color:rgba(65, 20, 97, 0.619);
    border: #1c1c1d;    
    box-shadow: 5px 5px 30px rgb(255, 2, 141);
    
}

.d-block
{
  
    margin: auto;
    width: 30%;
    height: auto;
    box-shadow: 5px 5px 30px rgba(241, 239, 242, 0.711);
    border-radius: 25px;    
}

.d-blockg
{
 
    margin: auto;
    height: auto;
    width: 30%;
    box-shadow: 0 0  50px rgba(241, 239, 242, 0.711);
    border-radius: 25px;
}

.carousel-indicators
{
top: 100%;
}

.button.accordion-button
{
    display: flex;
    position: relative;
    width: 10px;
}

/*media query tablet*/
 @media (max-width: 1400px) {
    
.d-block
{
    display: block;
    margin: auto;
    width: 35%;
    box-shadow: 0 0 50px rgb(70, 8, 115);
    border-radius: 25px;
    
}

.d-blockg
{
    display: block;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 50px rgb(139, 15, 228);
    border-radius: 25px;
    
}

 }
 /* medias query smarphone*/
 @media (max-width: 450px) {
    
    .btn.btn-primary
    {
        background-color:rgba(65, 20, 97, 0.619);
        border: #1c1c1d;
        font-size:small  ;
        
    }
    
.d-block
{
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 50px rgb(70, 8, 115);
    border-radius: 25px;
    
}

.d-blockg
{
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 50px rgb(139, 15, 228);
    border-radius: 25px;
    
}

 }

 /* animaciones bubbles*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{   
min-height: 100vh;
background-color: black;
justify-content: center;


}

.containerr
{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    
}

.bubbles
{
    position: relative;
    display: flex;
    
}

.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(15s / var(--i));
    display: block;
    margin: auto;
    
}
.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate
{
 0%
 {
    transform: translateY(100vh) scale(0);

 }   
 100%
 {
    transform: translateY(-10vh) scale(1);
 }
}

/* Main styles estilos del texto Abraham ochoa y mas cosas */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/* Other styles */


svg {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  font: 12em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: auto;
  top: 0%;
  
 
}


 
