body
{
    background-image: url(https://images.wallpaperscraft.com/image/single/gradient_color_shades_140497_300x168.jpg);
    background-size: 100% 120%;
}

.acercademi
{
    text-align: center;
}
.container-fluid
{
    background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-shading-background-abstract-colorful-background-colorful-art-picture-image_938007.jpg);
}
